[submodule "googletest"]
	path = unittest/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "test"]
	path = test
	url = https://github.com/joelvaneenwyk/tesseract-test.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "external/sw"]
	path = external/sw
	url = https://github.com/SoftwareNetwork/sw.git
	branch = b0.4.5
